<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}"><b>YTCloud</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/donate.html">Donate</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Support
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://yusuftutorial.xyz" target="_blank">Blog</a></li>
              <li><a class="dropdown-item" href="https://youtube.com/@yusuftutorialchnnel" target="_blank">Channel Youtube</a></li>
              <li><a class="dropdown-item" href="https://mycollection.shop/canvadesign" target="_blank">Shop</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://t.me/yusuftutorialchannel" target="_blank">Telegram</a></li>
              <li><a class="dropdown-item" href="https://wa.me/628776424104" target="_blank">Whatsapp</a></li>
              <li><a class="dropdown-item" href="https://m.me/muhammadyusuf1992" target="_blank">Messenger</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>